<!-- Projects Section -->
<div id="projects" class="section-projects-1 position-relative pt-120 pb-6 bg-900">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7 me-auto">
                <h3 class="ds-3 mt-3 mb-3 text-primary" id="project-1-title" data-editable-value="My Latest Works">My Latest Works</h3>
                <span
                    class="fs-5 fw-medium text-200"
                    id="project-1-description"
                    data-editable-value="I believe that working hard and trying to learn every day will
                    <br />
                    make me improve in satisfying my customers."
                >
                    I believe that working hard and trying to learn every day will
                    <br />
                    make me improve in satisfying my customers.
                </span>
            </div>
            <div class="col-lg-auto">
                <a href="work.html" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto d-none d-xl-block" id="project-1-view-all-link" data-editable-value="View All Projects">
                    View All Projects
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-900 fillter-project" data-background="assets/imgs/projects/projects-1/background.png">
    <div class="container">
        <div class="text-start">
            <div class="button-group filter-button-group filter-menu-active">
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase active" data-filter="" id="project-1-all-projects-button" data-editable-value="All Projects">All Projects</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase" data-filter=".brand" id="project-1-branding-button" data-editable-value="Branding">Branding</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase" data-filter=".webdesign" id="project-1-webdesign-button" data-editable-value="Web Design">Web Design</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase" data-filter=".ui" id="project-1-uiux-button" data-editable-value="UI/UX">UI/UX</button>
                <button class="btn btn-md btn-filter mb-2 me-2 text-uppercase" data-filter=".app" id="project-1-app-dev-button" data-editable-value="App Dev">App Dev</button>
            </div>
        </div>
        <div class="row masonry-active justify-content-between mt-6">
            <div class="grid-sizer"></div>
            <div class="filter-item col-lg-6 col-12 brand ui app">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html" id="project-1-item-1-link" data-editable-value="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-1.png" alt="Photo App UI/UX" id="project-1-item-1-image" data-editable-value="assets/imgs/projects/projects-1/img-1.png" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold" id="project-1-item-1-title" data-editable-value="Photo App UI/UX">Photo App UI/UX</h3>
                            <p id="project-1-item-1-description" data-editable-value="Bokeh network">Bokeh network</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 webdesign brand dataanalysis brand">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html" id="project-1-item-2-link" data-editable-value="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-2.png" alt="Mobile App Design" id="project-1-item-2-image" data-editable-value="assets/imgs/projects/projects-1/img-2.png" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold" id="project-1-item-2-title" data-editable-value="Mobile App Design">Mobile App Design</h3>
                            <p id="project-1-item-2-description" data-editable-value="Tech Innovators Inc.">Tech Innovators Inc.</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 ui app">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html" id="project-1-item-3-link" data-editable-value="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-3.png" alt="Interaction Design" id="project-1-item-3-image" data-editable-value="assets/imgs/projects/projects-1/img-3.png" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold" id="project-1-item-3-title" data-editable-value="Interaction Design">Interaction Design</h3>
                            <p id="project-1-item-3-description" data-editable-value="HealthTrack Solutions">HealthTrack Solutions</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-item col-lg-6 col-12 app app dataanalysis brand">
                <div class="project-item rounded-4 overflow-hidden position-relative p-md-4 p-3 bg-white">
                    <a href="work-single.html" id="project-1-item-4-link" data-editable-value="work-single.html">
                        <img class="rounded-3 w-100 zoom-img" src="assets/imgs/projects/projects-1/img-4.png" alt="Design Consultation" id="project-1-item-4-image" data-editable-value="assets/imgs/projects/projects-1/img-4.png" />
                    </a>
                    <div class="d-flex align-items-center mt-4">
                        <a href="work-single.html" class="project-card-content">
                            <h3 class="fw-semibold" id="project-1-item-4-title" data-editable-value="Design Consultation">Design Consultation</h3>
                            <p id="project-1-item-4-description" data-editable-value="Creative Pulse Studios">Creative Pulse Studios</p>
                        </a>
                        <a href="work-single.html" class="project-card-icon icon-shape ms-auto icon-md rounded-circle edit-link" id="edit-link-1">
                            <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
