<div class="section-static-1 position-relative overflow-hidden z-0 py-8 @@background">
    <div class="container">
        <div class="inner">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">
                                +
                                <span class="odometer ds-1 text-dark fw-semibold" id="static-1-experienceYears" data-editable-value="12">12</span>
                            </span>
                            <div class="text-start ms-2" id="static-1-experienceDescription">
                                <p class="fs-5 mb-0 text-300" id="static-1-experienceDescriptionLine1" data-editable-value="Year of">Year of</p>
                                <p class="fs-5 mb-0 fw-bold" id="static-1-experienceDescriptionLine2" data-editable-value="Experience">Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">
                                +
                                <span class="odometer ds-1 text-dark fw-semibold" id="static-1-completedProjectsCount" data-editable-value="250">250</span>
                            </span>
                            <div class="text-start ms-2" id="static-1-completedProjectsDescription">
                                <p class="fs-5 mb-0 text-300" id="static-1-completedProjectsDescriptionLine1" data-editable-value="Projects">Projects</p>
                                <p class="fs-5 mb-0 fw-bold" id="static-1-completedProjectsDescriptionLine2" data-editable-value="Completed">Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">
                                +
                                <span class="odometer ds-1 text-dark fw-semibold" id="static-1-happyClientsCount" data-editable-value="680">680</span>
                            </span>
                            <div class="text-start ms-2" id="static-1-happyClientsDescription">
                                <p class="fs-5 mb-0 text-300" id="static-1-happyClientsDescriptionLine1" data-editable-value="Satisfied">Satisfied</p>
                                <p class="fs-5 mb-0 fw-bold" id="static-1-happyClientsDescriptionLine2" data-editable-value="Happy Clients">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto d-flex align-items-center">
                            <span class="ds-3 count text-primary fw-medium my-0">
                                +
                                <span class="odometer ds-1 text-dark fw-semibold" id="static-1-awardsWonCount" data-editable-value="18">18</span>
                            </span>
                            <div class="text-start ms-2" id="static-1-awardsWonDescription">
                                <p class="fs-5 mb-0 text-300" id="static-1-awardsWonDescriptionLine1" data-editable-value="Awards">Awards</p>
                                <p class="fs-5 mb-0 fw-bold" id="static-1-awardsWonDescriptionLine2" data-editable-value="Won Received">Won Received</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../../../assets/js/auth.js"></script>
