<!-- Service 1 -->
<section class="section-service-1 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7 me-auto">
                <h3 id="services-1-header" class="ds-3 mt-3 mb-3 text-primary" contenteditable="false">What do I offer?</h3>
                <span id="services-1-subheader" class="fs-5 fw-medium text-200" contenteditable="false">
                    My journey started with a fascination for design and technology, <br />
                    leading me to specialize in UI/UX design.
                </span>
            </div>
            <div class="col-lg-auto">
                <a href="#contact" class="btn btn-gradient mt-lg-0 mt-5 ms-lg-auto">
                    Get a Quote
                    <i class="ri-arrow-right-up-line"></i>
                </a>
            </div>
        </div>

        <div class="row mt-6 justify-content-between">
            <!-- Service Cards -->
            <div class="col-12" id="services-1-card-1">
                <div class="single-service-card-1 tg-img-reveal-item w-100 border-top border-900 p-3">
                    <div class="service-card-details d-lg-flex align-items-center">
                        <h3 id="services-1-card-title-1" class="service-card-title w-lg-50 w-100 mb-0" contenteditable="false">
                            <a href="work-single.html" class="service-link">
                                <span class="service-number">01.</span>
                                UI/UX Design
                            </a>
                        </h3>
                        <p id="services-1-card-text-1" class="service-card-text my-3" contenteditable="false"></p>
                    </div>
                </div>
            </div>

            <div class="col-12" id="services-1-card-2">
                <div class="single-service-card-1 tg-img-reveal-item w-100 border-top border-900 p-3">
                    <div class="service-card-details d-lg-flex align-items-center">
                        <h3 id="services-1-card-title-2" class="service-card-title w-lg-50 w-100 mb-0" contenteditable="false">
                            <a href="work-single.html" class="service-link">
                                <span class="service-number">02.</span>
                                Mobile App Design
                            </a>
                        </h3>
                        <p id="services-1-card-text-2" class="service-card-text my-3" contenteditable="false"></p>
                    </div>
                </div>
            </div>

            <div class="col-12" id="services-1-card-3">
                <div class="single-service-card-1 tg-img-reveal-item w-100 border-top border-900 p-3">
                    <div class="service-card-details d-lg-flex align-items-center">
                        <h3 id="services-1-card-title-3" class="service-card-title w-lg-50 w-100 mb-0" contenteditable="false">
                            <a href="work-single.html" class="service-link">
                                <span class="service-number">03.</span>
                                Brand Identity Design
                            </a>
                        </h3>
                        <p id="services-1-card-text-3" class="service-card-text my-3" contenteditable="false"></p>
                    </div>
                </div>
            </div>

            <div class="col-12" id="services-1-card-4">
                <div class="single-service-card-1 tg-img-reveal-item w-100 border-top border-900 p-3 border-bottom">
                    <div class="service-card-details d-lg-flex align-items-center">
                        <h3 id="services-1-card-title-4" class="service-card-title w-lg-50 w-100 mb-0" contenteditable="false">
                            <a href="work-single.html" class="service-link">
                                <span class="service-number">04.</span>
                                Web Development
                            </a>
                        </h3>
                        <p id="services-1-card-text-4" class="service-card-text my-3" contenteditable="false"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="../../../assets/js/auth.js"></script>
